/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7f2; /* Fondo claro para una apariencia suave */
    color: #333; /* Texto principal en gris oscuro */
}

/* Encabezado principal */
header {
    background-color: #f3c5b8; /* Color de fondo del encabezado */
    text-align: center;
    padding: 20px;
    font-family: 'Meow Script', cursive;
}

header h1 {
    color: #5a2a27; /* Color marrón oscuro para el título */
    font-size: 2.5em;
    margin: 0;
}

/* Barra de navegación */
.nav-index {
    background-color: #e8a6a1;
    padding: 10px;
    text-align: center;
}

.nav-index ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-into {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-into a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.nav-into a:hover {
    background-color: #c98982;
    border-radius: 5px;
}

.nav-into a.active {
    color: #fff;
    background-color: #c98982;
    border-radius: 5px;
  }

/* Contenedor principal de contacto */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    gap: 20px;
}

.contact-info {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.contact-info h2 {
    font-size: 1.5em;
    color: #5a2a27; /* Color marrón oscuro para los títulos */
    margin-bottom: 10px;
}

.contact-info p,
.contact-info address,
.contact-info a {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
    margin: 5px 0;
}

.contact-info a {
    color: #e08b82; /* Enlaces de contacto en un tono salmón */
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #c2574d; /* Enlace de contacto en hover */
}

/* Pie de página */
footer {
    background-color: #f3c5b8;
    text-align: center;
    padding: 15px;
    color: #5a2a27;
    font-size: 0.9em;
}

footer p {
    margin: 5px 0;
}

/* Adaptabilidad para pantallas más pequeñas */
@media (max-width: 768px) {
    .contact-container {
        padding: 20px 10px;
    }

    .nav-into {
        flex-direction: column;
        gap: 10px;
    }

    .contact-info {
        padding: 15px;
    }

    .contact-maps{
        width: 200px;
        height: 300px;
    }

    header h1 {
        font-size: 2em;
    }
}
